<script>
  import BigButton from "../components/BigButton.svelte";
  import Credits from "../components/Credits.svelte";
</script>

<style>
  :root {
    --main-color: #169497;
  }

  div {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 30px 0 0 0;
    place-items: center;
  }

  h1,
  img {
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: 36px;
    font-weight: 200;
    margin: 20px 0 0;
  }

  img {
    display: flex;
    height: auto;
    margin: 0 auto;
    width: 100%;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: xxx-large;
    }
  }
</style>

<svelte:head>
  <title>Intelliwatt Pages</title>
</svelte:head>

<section class="projects">
  <div class="project-sapper">
    <img alt="Intelliwatt Logo" src=" IntelliWatt_trans_wide.png" />
  </div>
  <div>
    <BigButton url="https://intelliwatt.vercel.app/">Website</BigButton>
    <BigButton url="https://capstone-cs.eng.utah.edu/iot-device-communication-aggregator">GitLab</BigButton>
  </div>
  <Credits />
</section>
